#display_menu_1 .nav a {}
#display_menu_1 .nav_hover a {border-bottom:1px solid transparent !important;}
#display_menu_1 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:transparent;}
#display_menu_2 .nav a { }
#display_menu_2 .nav_hover a { border:none !important; padding-bottom:1px !important;}
#display_menu_2 .nav {background-color:transparent;}
#display_menu_2 .nav_hover {background-color:transparent;}
#display_menu_2 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}
#display_menu_3 .nav a {}
#display_menu_3 .nav_hover a { border:none !important; padding-bottom:1px !important;}
#display_menu_3 .nav {background-color:transparent;}
#display_menu_3 .nav_hover {background-color:transparent;}
#display_menu_3 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}
#display_menu_4 .nav a { }
#display_menu_4 .nav_hover a { border:none !important; padding-bottom:1px !important;}
#display_menu_4 .nav {background-color:transparent;}
#display_menu_4 .nav_hover {background-color:transparent;}
#display_menu_4 a.nav_selected{
	border:1px dashed #BEBDBF !important;
}
#display_menu_5 .nav a { }
#display_menu_5 .nav_hover a { border:none !important; padding-bottom:1px !important;}
#display_menu_5 .nav {background-color:transparent;}
#display_menu_5 .nav_hover {background-color:transparent;}
#display_menu_5 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}

#display_menu_6 .nav a {}
#display_menu_6 .nav_hover a {border:none !important; padding-bottom:1px !important;}
#display_menu_6 .nav {background-color:transparent;}
#display_menu_6 .nav_hover {background-color:#f5f5f5;}
#display_menu_6 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}
#display_menu_7 .nav a {}
#display_menu_7 .nav_hover a {border:none !important; padding-bottom:1px !important;}
#display_menu_7 .nav {background-color:transparent;}
#display_menu_7 .nav_hover {}
#display_menu_7 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}

#display_menu_8 .nav a {}
#display_menu_8 .nav_hover a {border:none !important; padding-bottom:1px !important;}
#display_menu_8 .nav {background-color:transparent;}
#display_menu_8 .nav_hover {}
#display_menu_8 a.nav_selected{
	border-bottom:1px dashed #BEBDBF !important;
}





#top_nav ul {
	width:auto;
	margin:0;
	padding:0px ;
	list-style:none;
	text-align:center;}

#top_nav ul li {
	border-right: solid 1px #3d3f3a;
    display: inline-block;
    padding: 2px 0 9px;
    text-align: center;}
	
#top_nav ul li:last-child { border:none;}
	
#top_nav ul li a {
	padding: 0 11px;}
	
#top_nav ul li a:hover, #top_nav ul li.nav_selected a { text-decoration:underline;}



#menu0 {margin:0 auto;}

#top_nav td img {display: none !important; vertical-align:middle;}  
 
#top_nav td{ width:auto !important;}

#top_nav td.subnav{border:1px solid #DFDFDF;}


/*#top_nav td.nav a{
    margin:0px;
    padding:2px 16px 7px;
    display:block;
    font:11px Lucida Sans Unicode, arial, tahoma;
    text-decoration:none;
    text-align:center;
}
#top_nav td.nav_hover a{
     margin:0px;
    padding:2px 16px 7px;
    font:11px Lucida Sans Unicode, arial, tahoma;
    display:block;
    text-decoration:none;
    text-align:center;
}
*/
#top_nav td.subnav a{
    margin:0;
    padding:0 0 0 28px !important;
	line-height:25px;
    font-weight: normal;
    display:block;
    text-decoration:none;
    text-align:left;
    width:auto;
	background:url(../images/template/arrow2.png) no-repeat 10px 11px #E8E8E8 !important;
	border-bottom:none !important;
}
#top_nav td.subnav a:hover{
	background:none !important;
}

#top_nav td.subnav_hover a{
    margin:0;
    font-family: Lucida Sans Unicode, Helvetica, sans-serif;
    font-size:11px;
    font-weight: normal;
    display:block;
    text-decoration:none;
    background:#fff !important;
    text-align:left;
    width:auto;
	border-bottom:0 !important;
}